<?php

// nest
$nestUsername='someusername@emaildomain.com';
$nestPassword='somepassword';

// leftronic
$leftronicAccessKey='SOMEKEY';

// wunderground api key
$wundergroundApiKey='SOMEKEY';
$wundegroundlocation='COUNTRY/CITY.json';